*{
    mergin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(24, 20, 23);
    color: aliceblue;
}
h1{
    text-align: center;
    padding: 10px;
}
img{
    display: block;
    margin: auto;
    width: 500px;
    height: 500px;
}